@import 'normalize.css';

/* Fonts */
/* font-family: 'Inter', sans-serif;
font-family: 'Merriweather', serif; */

/* CSS */

body {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 50px;
    color: #ffffff;
    background-color: #000000;
}

.container {
    width: 1440px;
    margin: 0 auto;
    padding: 0 20px;
}

.bg-dark {
    color: #000000;
}

.gold {
    color: #bdae82;
}

.white {
    color: #ffffff;
}

h2, 
h3 {
    margin: 0;
}

/* Header */

.header {
    height: 90px;
    background: url('./assets/img/bg.jpg');
    background-repeat: no-repeat;
    background-position: center 0;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
}

.left-area {
    display: flex;
}

.logo {
    background-image: url('./assets/svg/logo.svg');
    background-size: contain;
    background-repeat: no-repeat;
    transition: .3s;
}

.logo:hover {
    filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%)
      contrast(87%);
}

.right-area {
    display: flex;
    justify-content: space-between;
}

.nav {
    list-style: none;
    display: flex;
    width: 500px;
    /* justify-content: space-between; */
}

.nav li {
    padding: 0 15px;
}

.nav li:first-child {
    padding-left: 30px;
}

.nav li:last-child {
    padding-right: 30px;
}

.nav a {
    color: #ffffff;
    text-decoration: none;
    transition: .3s;
}

.nav a:hover {
    color: #bdae82;
}

.switch-lang {
    display: flex;
    width: 70px;
    justify-content: space-between;
}

.switch-lang a {
    color: #ffffff;
    text-decoration: none;
}

a.active-en {
    color: #bdae82;
}

/* Hero */

.hero-container {
    background-image: url('./assets/img/bg.jpg');
    background-position: center -90px;
    background-repeat: no-repeat;
    height: 910px;
}

.hero-container h1 {
    margin: 0;
    margin-bottom: 10px;
    font-family: 'Merriweather', serif;
    font-weight: 700;
    font-size: 60px;
    line-height: 120px;
}

.hero-block {
    width: 500px;
    padding-top: 160px;
}

.hero-text {
    font-size: 20px;
    line-height: 40px;
    margin: 0;
    margin-bottom: 25px;
}

.hero-btn {
    width: 220px;
    height: 55px;
    cursor: pointer;
    background-color: #bdae82;
    color: #000000;
    text-align: center;
    border: none;
    transition: .3s;
    line-height: 40px;
    text-decoration: none;
}

.hero-btn:hover {
    color: #ffffff;
}

/* Skills */

.skills-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.skills-block span,
.portfolio-block span,
.video-block span,
.price-block span {
    width: 700px;
    height: 2px;
    background-color: #bdae82;
    position: absolute;
    top: 25px;
    z-index: -1;
}

.skills-block,
.portfolio-block,
.video-block,
.price-block {
    position: relative;
    width: 700px;
    margin-bottom: 60px;
}

h2.section-title {
   display: flex;
   width: 152px;
   background-color: black;
   z-index: 10;
   justify-content: center;
   margin: 0 auto;
   color: #bdae82;
   font-family: 'Merriweather', serif;
   font-size: 40px;
}

.skills-items {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 40px;
}

.item-head,
.item-text {
    margin: 0;
    padding: 0 20px;
}

.skills-item {
    width: 320px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.skills-item img {
    height: 50px;
    margin: 0 auto 50px;
}

.skills-item .img-photo {
    width: 62px;
}

.skills-item .img-video {
    width: 60px;
}

.skills-item .img-picture {
    width: 66px;
}

.skills-item .img-mic {
    width: 32px;
}

.item-head {
    line-height: 40px;
    font-weight: 700;
    margin-bottom: 20px;
}

.item-text {
    line-height: 36px;
    font-size: 18px;
}

/* Portfolio */

.portfolio-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 1500px;
}

.portfolio-block {
    margin-top: 100px;
}

.portfolio-block h2.section-title {
    width: 181px;
    padding: 0 20px;
}

.portfolio-btns {
    margin-bottom: 60px;
}

.portfolio-btn {
    width: 220px;
    height: 55px;
    cursor: pointer;
    background-color: #000000;
    color: #bdae82;
    text-align: center;
    border: none;
    transition: .3s;
    line-height: 40px;
    text-decoration: none;
    border: 1px solid #bdae82;
}

.portfolio-btn:hover,
.portfolio-btn.active {
    color: #000000;
    background-color: #bdae82;
}

.portfolio-items {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
}

/* Video */

.video-container {
    height: 945px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.video-block {
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
}

.video-block h2.section-title {
    width: 154px;
    padding: 0 20px;
}

.video-player {
    height: 705px;
    background-image: url('./assets/img/player-bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.video-player button {
    cursor: pointer;
}

.video-player img {
    position: absolute;
    top: 288px;
    left: 660px;
}

/* Price */

.price-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 845px;
}

.price-block {
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
}

.price-items {
    display: flex;
    gap: 25px;
    margin-bottom: 100px;
}

.price-item {
    display: flex;
    flex-direction: column;
    width: 450px;
    text-align: center;
    align-items: center;
    border: 1px solid #bdae82;
}

.price-item h3 {
    font-family: 'Merriweather', serif;
    font-weight: 700;
    font-size: 28px;
    line-height: 56px;
    margin-top: 43px;
    margin-bottom: 20px;
}

.price {
    font-family: 'Merriweather', serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 48px;
    color: #bdae82;
    margin-bottom: 20px;
}

.price-text {
    width: 364px;
    margin-bottom: 40px;
}

.price-text span {
    display: block;
    font-size: 18px;
    line-height: 36px;
}

.price-btn {
    width: 220px;
    height: 55px;
    cursor: pointer;
    background-color: #bdae82;
    color: #000000;
    text-align: center;
    border: none;
    transition: .3s;
    line-height: 40px;
    text-decoration: none;
    margin-bottom: 43px;
}

.price-btn:hover {
    color: #ffffff;
}

/* Contacts */

.contacts-container {
    height: 700px;
    background-image: url('./assets/img/contacts.jpg');
    background-size: auto 700px;
    background-position: center center;
}

.contact-container {
    display: flex;
    flex-direction: column;
    justify-content: end;
    width: 450px;
    padding: 60px 20px 0;
    float: right;
}

.contact-container h2.contact-title {
    width: 100%;
    background-color: inherit;
}

input[type='email'],
input[type='tel'],
textarea {
    background-color: inherit;
    border: 2px solid #bdae82;
    color: #bdae82;
    margin-bottom: 20px;
}

::placeholder {
    color: #bdae82;
    line-height: 40px;
    padding-left: 20px;
}

input[type='email'],
input[type='tel'] {
    height: 50px;
}

textarea {
    height: 100px;
    resize: none;
    margin-bottom: 30px;
}

.contact-btn {
    width: 220px;
    height: 55px;
    cursor: pointer;
    background-color: #bdae82;
    color: #000000;
    text-align: center;
    border: none;
    transition: .3s;
    line-height: 40px;
    text-decoration: none;
}

.contact-btn:hover {
    color: #ffffff;
}

/* Footer */

.footer {
    height: 150px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;
}

.footer-data {
    display: flex;
    gap: 20px;
}

.social-list {
    display: flex;
    gap: 20px;
}
